@using BlazorPokemonCardSetViewer.Components
@inherits LayoutComponentBase
<div>
    <div class="blank-row">
        
    </div>
    <div class="page">
        <NavigationRow/>
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

