@using BlazorPokemonCardSetViewer.Components
@inherits LayoutComponentBase
<div>
    <div class="blank-row">
        
    </div>
    <div class="page">
        <NavigationRow/>
    </div>
    <div>
        @Body
    </div>
</div>

