@using BlazorPokemonCardSetViewer.Components
@inherits LayoutComponentBase

<div class="app-container">
    <nav class="top-navigation-bar">
        <NavigationRow/>
    </nav>
    <main>
        @Body
    </main>
</div>