<div class="top-nav">
    <div class="nav-content">
        <a href="" class="logo">
            <img src="images/Pokemon-Logo.png" alt=""/>
        </a>
        <a style="border-left: #b7b7b7 solid 0.094rem;" href="">Home</a>
        <a href="card">Cards</a>
        <a href="sets">Sets</a>
        <a href="energies">Energies</a>
        <a href="about">About</a>
    </div>
</div>

<style>
    .top-nav {
        background-color: #f7f7f7;
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: #b7b7b7 solid 0.02rem;
    }
    
    .nav-content {
        display: flex;
        align-items: center;
        padding-left: 1rem;
        margin-right: auto;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .top-nav a {
        color: black;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: bold;
    }

    .top-nav a:not(.logo){
        border-right: #b7b7b7 solid 0.094rem;
        height: 25px;
    }
    
    .top-nav .logo {
        padding: 0.35rem 0;  /* Add vertical padding to the logo container */
        margin-right: 1rem;
    }
    
    .top-nav .logo img {
        height: 3rem;
        width: 9rem;
        display: block;
    }
    
    .top-nav a:not(.logo):hover {
        background-color: #ddd;
        border-right: #b7b7b7 solid 0.094rem;
    }
</style>

@code {
    
}