@using ReactiveUI
@using ReactiveUI.Blazor
@using BlazorPokemonCardSetViewer.Pages.ViewModels
@inherits ReactiveComponentBase<CounterViewModel>
@page "/counter"
@inject CounterViewModel ViewModel

@if (ViewModel is null)
{
    <p>Error Loading Page</p>
    return;
}

<div>
    <PageTitle>Counter</PageTitle>

    <h1>Counter</h1>

    <p role="status">Current count: @ViewModel.CurrentCount</p>

    <button class="btn btn-primary" @onclick="@ViewModel.IncrementCount">Click me</button>
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        
        // For debugging
        if (ViewModel == null)
        {
            Console.WriteLine("ViewModel is null in OnInitialized");
        }
        else
        {
            Console.WriteLine("ViewModel is initialized successfully");
        }
    }
}