@using BlazorPokemonCardSetViewer.Pages.ViewModels
@inherits ReactiveUI.Blazor.ReactiveComponentBase<CounterViewModel>
@page "/counter"

@if (ViewModel is null)
{
    <p>Error Loading Page</p>
    return;
}

<div>
    <PageTitle>Counter</PageTitle>

    <h1>Counter</h1>

    <p role="status">Current count: @ViewModel.CurrentCount</p>

    <button class="btn btn-primary" @onclick="@ViewModel.IncrementCount">Click me</button>
</div>