@page "/"

<style>
    .page-content {
        padding-top: 7.9rem;
    }
</style>

<PageTitle>Home</PageTitle>

<div class="page-content">
    <h1>Hello, world!</h1>

    Help me with this not displaying css
</div>