@page "/sets"

<style>
    .container {
        
    }
</style>

<div class="main-content">
    <div>
        @* Drop down filters and set filters*@
    </div>
    <div class="sets-section">
        
    </div>
    <div class="pagination-container">
        
    </div>
</div>

@code {
    
}